##############################################################################
# Locals
##############################################################################

# For now ignore Basilisk itself
/basilisk/

# During compilation of Basilisk
# /basilisk/src/config
# /basilisk/src/ast/grammar
# /basilisk/src/ast/grammar.h
# /basilisk/src/bview2D
# /basilisk/src/bview3D
# /basilisk/src/darcsit/codeblock
# /basilisk/src/darcsit/literate-c
# /basilisk/src/darcsit/pagemagic
# /basilisk/src/darcsit/sanitize
# /basilisk/src/darcsit/urldecode
# /basilisk/src/kdt/kdtquery
# /basilisk/src/kdt/xyz2kdt
# /basilisk/src/kdtquery
# /basilisk/src/Makefile.deps
# /basilisk/src/Makefile.tests
# /basilisk/src/qcc
# /basilisk/src/xyz2kdt

##############################################################################
# C (Github defaults)
##############################################################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
