# Ignore mesh files:
*.msh

# Select concept files:
# NOTE: keep mesh otherwise project fails to launch.
concept/*.geo
concept/*.sif
concept/ELMERSOLVER_STARTINFO
concept/results/*
!concept/egproject.xml
!concept/mesh.*
