# Virtual environment:
.venv/

# Any sandbox:
*sandbox*

# Build artifacts:
dist/
target/

# Documentation artifacts:
docs/.gitignore
docs/.quarto/
docs/_book/
docs/site_libs/
docs/**/.jupyter_cache/
docs/**/*.quarto_ipynb
docs/**/*_files/
docs/**/*.html
docs/index.*
!docs/index.qmd

# Jupyter notebooks:
*.ipynb_checkpoints/
*.ipynb

# Python:
__pycache__/
*.py[cod]
*.so
