# Virtual environment:
.venv/

# Any sandbox:
*sandbox*

# Build artifacts:
dist/
target/

# Documentation artifacts:
docs/.gitignore
docs/.jupyter_cache/
docs/.quarto/
docs/**/*.quarto_ipynb
docs/_book/
docs/site_libs/
docs/*_files/
docs/*.html

# Python:
__pycache__/
*.py[cod]