# Editor cache:
.vscode/

# Virtual environment:
.venv/

# Any sandbox:
*sandbox*

# Build artifacts:
dist/
target/

# Documentation artifacts:
docs/.gitignore
docs/.quarto/
docs/_book/
docs/site_libs/
docs/**/.jupyter_cache/
docs/**/*.quarto_ipynb
docs/**/*_files/
docs/**/*.aux
docs/**/*.log
docs/**/*.out
docs/**/*.tex
docs/**/*.html
docs/**/*.pdf
docs/index.*
!docs/index.qmd

# Jupyter notebooks:
*.ipynb_checkpoints/
*.ipynb

# Python:
__pycache__/
*.py[cod]
*.so

# .NET build output
**/bin/
**/obj/

# fsdocs
.fsdocs/
output/
tmp/watch/
