# https://setuptools.pypa.io/en/latest/userguide/quickstart.html
[build-system]
# requires = ["setuptools"]
# build-backend = "setuptools.build_meta"
requires = ["maturin>=1.10,<2.0"]
build-backend = "maturin"

[project]
name = "majordome"
version = "0.5.0"
dependencies = [
    "beautifulsoup4>=4.12.2",
    "cantera>=3",
    "casadi>=3.7.2",
    "ipython>=9.4.0",
    "matplotlib>=3",
    "numpy>2",
    "scipy>=1.15",
    "pandas>=2.2",
    "pyparsing>=3",
    "pyvista>=0.44",
    "pyyaml>=6",
    "tabulate>=0.9.0",
    "tinydb>=4.8.2",
]
requires-python = ">=3.12"
authors = [
  {name = "Walter Dal'Maz Silva", email = "walter.dalmazsilva@gmail.com"},
]
description = "General utilities for scientific Python and numerical simulation."
readme = "README.md"
license = "MIT"
license-files = ["LICENSE"]
keywords = ["scientific", "simulation", "utilities", "python"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering",
  "Programming Language :: Rust",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
# dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/wallytutor/python-majordome"
Documentation = "https://wallytutor.github.io/python-majordome/"
Repository = "https://github.com/wallytutor/python-majordome.git"
Issues = "https://github.com/wallytutor/python-majordome/issues"

[tool.setuptools.packages.find]
where = ["src"]
include = ["majordome*"]
exclude = ["majordome.tests*"]
namespaces = false

[tool.maturin]
python-source = "src"
module-name = "majordome._majordome"

[tool.setuptools.package-data]
"majordome" = [
    "data/*.yaml",
    "data/*/*.yaml",
    "data/latex/*.tex"
]

# PEP621
[project.optional-dependencies]
docs = [
    "jupytext>=1.17.3",
    "myst-parser>=4.0.1",
    "nbsphinx>=0.9.7",
    "notebook>=7.4.5",
    "numpydoc>=1.9.0",
    "Sphinx>=8.1.3",
    "sphinx-book-theme>=1.1.4",
    "sphinxcontrib-bibtex>=2.6.5",
]
extras = [
    "jupyterlab>=4.4.6",
    "jupytext>=1.17.3",
]
pdftools = [
    "pdfly>=0.5.1",
    "pdf2image>=1.17.0",
    "pypdf>=6.2.0",
    "pytesseract>=0.3.13",
]
vision = [
    "scikit-image>=0.25.2",
]
