# https://setuptools.pypa.io/en/latest/userguide/quickstart.html
# https://setuptools-rust.readthedocs.io/en/latest/
[build-system]
requires = [
    "setuptools>=65",
    "setuptools-rust>=1.5.2"
]
build-backend = "setuptools.build_meta"

[project]
name = "majordome"
dynamic = ["version"]
dependencies = [
    "beautifulsoup4>=4.12.2",
    "cantera>=3",
    "casadi>=3.7.2",
    "exifread>=3.5.1",
    "hyperspy>=2.3.0",
    "ipython>=9.4.0",
    "matplotlib>=3",
    "meshio>=5.3.5",
    "numba>=0.63.1",
    "numpy>2",
    "opencv-python>=4.12.0.88",
    "pandas>=2.2",
    "pdfly>=0.5.1",
    "pdf2image>=1.17.0",
    "pypdf>=6.2.0",
    "pyparsing>=3",
    "pytesseract>=0.3.13",
    "pyvista>=0.44",
    "pyyaml>=6",
    "scikit-image>=0.25.2",
    "scipy>=1.15",
    "tabulate>=0.9.0",
    "tinydb>=4.8.2",
]
requires-python = ">=3.12"
authors = [
  {name = "Walter Dal'Maz Silva", email = "walter.dalmazsilva@gmail.com"},
]
description = "General utilities for scientific Python and numerical simulation."
readme = "README.md"
license = "MIT"
license-files = ["LICENSE"]
keywords = ["scientific", "simulation", "utilities", "python"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering",
  "Programming Language :: Rust",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]

[project.urls]
Homepage = "https://github.com/wallytutor/python-majordome"
Documentation = "https://wallytutor.github.io/python-majordome/"
Repository = "https://github.com/wallytutor/python-majordome.git"
Issues = "https://github.com/wallytutor/python-majordome/issues"

[tool.setuptools.packages.find]
where = ["src"]
include = ["majordome*"]
exclude = []
namespaces = false

##############################################################################
# DATA
##############################################################################

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
"majordome" = [
    "data/*.yaml",
    "data/*/*.yaml",
    "data/latex/*.tex"
]

[tool.setuptools.dynamic]
version = {attr = "version.__version__"}

##############################################################################
# PEP621
##############################################################################

[project.optional-dependencies]
docs = [
    "jupytext>=1.17.3",
    "myst-parser>=4.0.1",
    "nbsphinx>=0.9.7",
    "notebook>=7.4.5",
    "numpydoc>=1.9.0",
    "Sphinx>=8.1.3",
    "sphinx-book-theme>=1.1.4",
    "sphinxcontrib-bibtex>=2.6.5",
]
extras = [
    "jupyterlab>=4.4.6",
    "jupytext>=1.17.3",
]

##############################################################################
# CRATES (BINARIES)
##############################################################################

[tool.setuptools-rust]
bindings = "bin"

[[tool.setuptools-rust.bins]]
target = "containerize"
path = "src/majordome-corelib/Cargo.toml"

[[tool.setuptools-rust.bins]]
target = "majordome"
path = "src/majordome-corelib/Cargo.toml"

##############################################################################
# CRATES (MODULES)
##############################################################################

[[tool.setuptools-rust.ext-modules]]
target = "majordome._corelib"
path = "src/majordome-corelib/Cargo.toml"
binding = "PyO3"

[[tool.setuptools-rust.ext-modules]]
target = "majordome._calphad"
path = "src/majordome-calphad/Cargo.toml"
binding = "PyO3"

[[tool.setuptools-rust.ext-modules]]
target = "majordome._diffusion"
path = "src/majordome-diffusion/Cargo.toml"
binding = "PyO3"

##############################################################################
# EOF
##############################################################################