# Ignore all for now
/[0-9]*/

# Compiled extensions
*.so
*.dll

# Generated grids (unless explicitly unignored)
*.unv
*.msh*

# This can be programatically generated
ELMERSOLVER_STARTINFO

# Elmer mesh
*.boundary
*.elements
*.header
*.nodes
*.nodes.orig
*.nodes.new
partitioning.*
ViewFactors.dat*

# Results
*.vtk
*.vtu
*.pvtu
*.dat
*.names
*.result
*.png
*.mp4

# Execution logs
log.*

# Specific dumped projects
/**/project/*.sif
/**/project/*.geo
/**/project/*.msh
