# Virtual environment and build directories
.venv/
_build/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebooks and checkpoints
*.ipynb_checkpoints/
*.ipynb

# Any sandbox
sandbox*

# Log files
*.log
log.*