# Virtual environment and build directories
.venv/
_build/
_book/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebooks and checkpoints
*.ipynb_checkpoints/
*.ipynb

# Quarto defaults:
/.quarto/
**/*.quarto_ipynb

# Generated content:
_book/
*_files/
index.tex

# Any sandbox
*sandbox*

# Log files
*.log
log.*

# LaTeX
*.aux
*.fls
*.lof
*.lot
*.out
*.pdf
*.synctex*
*.toc
